<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>Tripadvisor: прочтите отзывы, сравните цены и забронируйте</title>
</head>
<body>
	<div class="header header-account">
		<div class="note">
			<div class="wrapper">
				<a href="#" class="close">☓</a>
				<p>ПРИМЕЧАНИЕ ДЛЯ ПУТЕШЕСТВЕННИКОВ.<a href="https://www.tripadvisor.ru/Articles-l297-COVID_2019.html">Что нужно знать о пандемии COVID‑19</a></p>
			</div>
		</div>
		<div class="header-login">
			<div class="wrapper">
				<div class="conteiner">
					<img src="img/TRIP.png" alt="" class="logo">
					<a href="#popup" class="nav_1">Войти</a>
					<a href="#" class="nav_2">Опубликовать</a>
					<!--<a href="#" class="nav_3">Уведомления</a>
					<a href="#" class="nav_4">Поездки</a>-->
				</div>
			</div>
		</div>
	</div>


	<div class="content">
		<div class="wrapper">
			<div class="title">
				<h1>Откройте для себя направление  <span>Тенерифе</span></h1>
			</div>
			<div class="photo-direction">
				<img src="img/photo-direction-1.jpg" alt="" width="600" class="photo-float" height="400">
				<div class="photo-direction-conteiner">
					<img src="img/photo-direction-2.jpg" alt="" >
					<img src="img/photo-direction-3.jpg" alt="">
				</div>
			</div>

			<div class="title-description">
				<div class="title-conteiner">
					<p>Популярное курортное направление, которое по-прежнему остается верным своим корням</p>
				</div>
				<div class="title-conteiner title-conteiner2">
					<span>Несмотря на то что Тенерифе является самым популярным и развитым из Канарских островов, на нем по-прежнему заметны следы влияния аборигенов гуанчи. Приезжайте в феврале, чтобы увидеть, как по улицам проносится карнавал, способный составить достойную конкуренцию Рио по количеству перьев и блесток. Посетители поднимаются наверх, чтобы покорить гору Тейде (высочайшую вершину Испании) и растянуться на песках Лос-Гигантес. Поздоровайтесь с дурашливыми попугаями в Лоро-парке или отправьтесь в ошеломляющую поездку к Ущелью Маска. Чтобы проникнуться духом Тенерифе, попробуйте свежий фермерский сыр и местные бананы. Кусочек тонкого кружева "каладо канарио" станет превосходным сувениром.</span>
				</div>
			</div>
			<div class="clearfix"></div>
			
			<div class="most-interesting">
				<h1>Тенерифе: самое интересное</h1>
				<div class="conteiner-p">
					<p><span>Увидеть интересное</span><br>
					Тенерифе: места, которые необходимо увидеть, маршруты, которыми стоит пройти, и фирменные развлечения.</p>
				</div>
				
				<div class="block-1">
					<div class="photo-block">
						<div class="content-photo">
							<a href="#" style="display: block;">
								<img src="img/piscinas-naturales-el.jpg" alt="" width="250" height="179">
							</a>
							<p class="paragraf">Piscinas Naturales El Caleton</p>
							<div class="message-rating-direction message-rating">
								<div class="message-rating-green"></div>
								<div class="message-rating-green"></div>
								<div class="message-rating-green"></div>
								<div class="message-rating-white"></div>
								<div class="message-rating-white .message-rating-green-5"></div>
							</div>
						</div>
					</div>
					<div class="photo-block">
						<div class="content-photo">
							<a href="#" style="display: block;">
								<img src="img/piscinas-naturales-el.jpg" alt="" width="250" height="179">
							</a>
							<p class="paragraf">Piscinas Naturales El Caleton</p>
							<div class="message-rating-direction message-rating">
								<div class="message-rating-green"></div>
								<div class="message-rating-green"></div>
								<div class="message-rating-green"></div>
								<div class="message-rating-white"></div>
								<div class="message-rating-white .message-rating-green-5"></div>
							</div>
						</div>
					</div>
					<div class="photo-block">
						<div class="content-photo">
							<a href="#" style="display: block;">
								<img src="img/piscinas-naturales-el.jpg" alt="" width="250" height="179">
							</a>
							<p class="paragraf">Piscinas Naturales El Caleton</p>
							<div class="message-rating-direction message-rating">
								<div class="message-rating-green"></div>
								<div class="message-rating-green"></div>
								<div class="message-rating-green"></div>
								<div class="message-rating-white"></div>
								<div class="message-rating-white .message-rating-green-5"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="most-interesting">
				<h1>Отдохнуть</h1>
				<div class="conteiner-p">
					<p><span>Увидеть интересное</span><br>
					Сочетание очаровательного, легендарного и современного.</p>
				</div>
				
				<div class="block-1">
					<div class="photo-block">
						<div class="content-photo">
							<a href="#" style="display: block;">
								<img src="img/piscinas-naturales-el.jpg" alt="" width="250" height="179">
							</a>
							<p class="paragraf">Piscinas Naturales El Caleton</p>
							<div class="message-rating-direction message-rating">
								<div class="message-rating-green"></div>
								<div class="message-rating-green"></div>
								<div class="message-rating-green"></div>
								<div class="message-rating-white"></div>
								<div class="message-rating-white .message-rating-green-5"></div>
							</div>
						</div>
					</div>
					<div class="photo-block">
						<div class="content-photo">
							<a href="#" style="display: block;">
								<img src="img/piscinas-naturales-el.jpg" alt="" width="250" height="179">
							</a>
							<p class="paragraf">Piscinas Naturales El Caleton</p>
							<div class="message-rating-direction message-rating">
								<div class="message-rating-green"></div>
								<div class="message-rating-green"></div>
								<div class="message-rating-green"></div>
								<div class="message-rating-white"></div>
								<div class="message-rating-white .message-rating-green-5"></div>
							</div>
						</div>
					</div>
					<div class="photo-block">
						<div class="content-photo">
							<a href="#" style="display: block;">
								<img src="img/piscinas-naturales-el.jpg" alt="" width="250" height="179">
							</a>
							<p class="paragraf">Piscinas Naturales El Caleton</p>
							<div class="message-rating-direction message-rating">
								<div class="message-rating-green"></div>
								<div class="message-rating-green"></div>
								<div class="message-rating-green"></div>
								<div class="message-rating-white"></div>
								<div class="message-rating-white .message-rating-green-5"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="most-interesting">
				<h1>Поесть</h1>
				<div class="conteiner-p">
					<p><span>Увидеть интересное</span><br>
					Тенерифе: лучшие рестораны, бары и многое другое.</p>
				</div>
				
				<div class="block-1">
					<div class="photo-block">
						<div class="content-photo">
							<a href="#" style="display: block;">
								<img src="img/piscinas-naturales-el.jpg" alt="" width="250" height="179">
							</a>
							<p class="paragraf">Piscinas Naturales El Caleton</p>
							<div class="message-rating-direction message-rating">
								<div class="message-rating-green"></div>
								<div class="message-rating-green"></div>
								<div class="message-rating-green"></div>
								<div class="message-rating-white"></div>
								<div class="message-rating-white .message-rating-green-5"></div>
							</div>
						</div>
					</div>
					<div class="photo-block">
						<div class="content-photo">
							<a href="#" style="display: block;">
								<img src="img/piscinas-naturales-el.jpg" alt="" width="250" height="179">
							</a>
							<p class="paragraf">Piscinas Naturales El Caleton</p>
							<div class="message-rating-direction message-rating">
								<div class="message-rating-green"></div>
								<div class="message-rating-green"></div>
								<div class="message-rating-green"></div>
								<div class="message-rating-white"></div>
								<div class="message-rating-white .message-rating-green-5"></div>
							</div>
						</div>
					</div>
					<div class="photo-block">
						<div class="content-photo">
							<a href="#" style="display: block;">
								<img src="img/piscinas-naturales-el.jpg" alt="" width="250" height="179">
							</a>
							<p class="paragraf">Piscinas Naturales El Caleton</p>
							<div class="message-rating-direction message-rating">
								<div class="message-rating-green"></div>
								<div class="message-rating-green"></div>
								<div class="message-rating-green"></div>
								<div class="message-rating-white"></div>
								<div class="message-rating-white .message-rating-green-5"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer"></div>


	<div id="popup" class="popup">
		<a href="#" class="popup_area"></a>
		<div class="popup_body">
			<div class="popup_content">
				<a href="#" class="popup_close">X</a>
				 <form method="post" action="">
				 	<img src="img/Tripadvisor-logo.png" width="90">
				 	<p>Войдите в систему, чтобы открыть все возможности Tripadvisor.</p>
                    <label>Логин:</label><br />
                    <input type="text" name="login" /><br />
                    <label>Пароль:</label><br />
                    <input type="password" name="password" /><br />
                    <input type="submit" value="Войти"  formaction="~/Home/Login" class="enter" />
                    <a href="#popup2" class="registration">Зарегистрироваться</a>
                </form>

			</div>
		</div>
	</div>

	<div id="popup2" class="popup">
		<a href="#" class="popup_area"></a>
		<div class="popup_body">
			<div class="popup_content">
				<a href="#" class="popup_close">X</a>
				 <form method="post" action="">
				 	<img src="img/Tripadvisor-logo.png" width="90">
				 	<p>Зерегестрируйтесь в системе, чтобы открыть все возможности Tripadvisor.</p>
                    <input type="text" name="login" placeholder="Придумайте логин:" /><br />
                    <input type="password" name="password" placeholder="Придумайте пароль:" /><br />
                    <input type="submit" value="Зарегистрироваться"  />
                </form>

			</div>
		</div>
	</div>
</body>
</html>