<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style-1.css">
	<title>Tripadvisor: прочтите отзывы, сравните цены и забронируйте</title>
</head>
<body>
	<div class="header header-account">
		
		<div class="header-login">
			<div class="wrapper">
				<div class="conteiner">
					<img src="img/TRIP-2.png" alt="" class="logo">
					<a href="#popup" class="nav_1">Войти</a>
					<a href="#" class="nav_2">Опубликовать</a>
					<!--<a href="#" class="nav_3">Уведомления</a>
					<a href="#" class="nav_4">Поездки</a>-->
				</div>
			</div>
		</div>
	</div>


	<div class="content content-accaunt-2">
		<div class="wrapper-accaunt-content">
			<div class="title">
				<span class="name-red" style="color: #ff5d5d !important;">Pop Pop's Pit BBQ</span>
			</div>
			<div class="rating rating-2">
				<div class="rating_value rating_value-hidden">3.6</div>
				<div class="rating_body">
					<div class="rating_active"></div>
					<div class="rating_items">
						<input type="radio" class="rating_item" value="1" name="rating">
						<input type="radio" class="rating_item" value="2" name="rating">
						<input type="radio" class="rating_item" value="3" name="rating">
						<input type="radio" class="rating_item" value="4" name="rating">
						<input type="radio" class="rating_item" value="5" name="rating">
					</div>
				</div>
				<div style="font-size: 14px; width: 100px; font-weight: bold; margin-left: 5px;">2417 отзывов</div>
			</div>	
			<p class="place-position position-static position-static-first">8724 Highway 707, Миртл-Бич, SC 29588-7378</p>
			<p class="place-position position-static position-static-phone">+1 843-650-9227</p>
			<p class="place-position position-static position-static-phone position-static-web"><a href="#" style="color: #545454;">Веб-сайт</a></p>
			<div class="clearfix"></div>
			<div class="information">
				<p>Подробнее</p>
				<div class="text-info" style="font-weight: normal;">ТИП КУХНИ</div>
				<div class="time">Американская, Барбекю</div>
				<div class="text-info" style="font-weight: normal;">СПЕЦИАЛИЗИРОВАННОЕ МЕНЮ</div>
				<div class="time">Безглютеновые блюда</div>
				<div class="text-info" style="font-weight: normal;">ВРЕМЯ ПРИЕМА ПИЩИ</div>
				<div class="time">Обед, Ужин</div><br>
				<a href="#popup2" class="edit-ref" style="padding-left: 0px;">Показать все сведения</a>
			</div>
			

			<!--image slider start-->
			<div class="sim-slider">
			     <ul class="sim-slider-list">
			         <li><img src="img/white.jpg" alt="screen" width="720""></li>    <!-- это экран -->

			         <!--Загружать фото 1280*720-->
			         <li class="sim-slider-element"><img src="img/maxresdefault (2).jpg" alt="N" width="720" height="405"></li>
			         <li class="sim-slider-element"><img src="img/maxresdefault (1).jpg" alt="2" width="720" height="405"></li>
			         <li class="sim-slider-element"><img src="img/eda-vkusno-krasivo-sous-myaso.jpg" alt="1" width="720" height="405"></li>
			         <li class="sim-slider-element"><img src="img/8dyZetoqGHg.jpg" alt="N" width="720" height="405"></li>
			         <li class="sim-slider-element"><img src="img/maxresdefault (3).jpg" alt="N" width="720"></li>
			     </ul>
			     <div class="sim-slider-arrow-left"></div>
			     <div class="sim-slider-arrow-right"></div>
			     <div class="sim-slider-dots"></div>
			 </div>
			<!--image slider end-->
			<div class="clearfix"></div>
			


			<div class="clearfix"></div>
			<div class="send-photo">
				<p>Отправить</p>
				<a href="#" class="send-btn">Написать отзыв</a>
				<a href="#popup0" class="send-btn send-btn-2">Загрузить фотографию</a>

				
			</div>
			<div class="clearfix"></div>

			<!--rating-->
			<form action="">
				<div class="rating-conteiner">
					<div class="ratings-wrapper">
						<div class="rating">
							<div class="rating_value">4.8</div>
							<div class="rating_body">
								<div class="rating_active"></div>
								<div class="rating_items">
									<input type="radio" class="rating_item" value="1" name="rating">
									<input type="radio" class="rating_item" value="2" name="rating">
									<input type="radio" class="rating_item" value="3" name="rating">
									<input type="radio" class="rating_item" value="4" name="rating">
									<input type="radio" class="rating_item" value="5" name="rating">
								</div>
							</div>
						</div>

						<div class="rating rating-2">
							<input type="checkbox" name="awesome">
							<div style="font-size: 14px; width: 100px; font-weight: bold; margin-left: 5px;">Отлично</div>
							<div class="rating_value rating_value-hidden">4.6</div>
							<div class="rating_body">
								<div class="rating_active"></div>
								<div class="rating_items">
									<input type="radio" class="rating_item" value="1" name="rating">
									<input type="radio" class="rating_item" value="2" name="rating">
									<input type="radio" class="rating_item" value="3" name="rating">
									<input type="radio" class="rating_item" value="4" name="rating">
									<input type="radio" class="rating_item" value="5" name="rating">
								</div>
							</div>
						</div>
						<div class="rating rating-2">
							<input type="checkbox" name="very-good">
							<div style="font-size: 14px; width: 100px; font-weight: bold; margin-left: 5px;">Очень хорошо</div>
							<div class="rating_value rating_value-hidden">4</div>
							<div class="rating_body">
								<div class="rating_active"></div>
								<div class="rating_items">
									<input type="radio" class="rating_item" value="1" name="rating">
									<input type="radio" class="rating_item" value="2" name="rating">
									<input type="radio" class="rating_item" value="3" name="rating">
									<input type="radio" class="rating_item" value="4" name="rating">
									<input type="radio" class="rating_item" value="5" name="rating">
								</div>
							</div>
						</div>
						<div class="rating rating-2">
							<input type="checkbox" name="not-bad">
							<div style="font-size: 14px; width: 100px; font-weight: bold; margin-left: 5px;">Неплохо</div>
							<div class="rating_value rating_value-hidden">3.5</div>
							<div class="rating_body">
								<div class="rating_active"></div>
								<div class="rating_items">
									<input type="radio" class="rating_item" value="1" name="rating">
									<input type="radio" class="rating_item" value="2" name="rating">
									<input tpye="radio" class="rating_item" value="3" name="rating">
									<input type="radio" class="rating_item" value="4" name="rating">
									<input type="radio" class="rating_item" value="5" name="rating">
								</div>
							</div>
						</div>
						<div class="rating rating-2">
							<input type="checkbox" name="bad">
							<div style="font-size: 14px; width: 100px; font-weight: bold; margin-left: 5px;">Плохо</div>
							<div class="rating_value rating_value-hidden">2.5</div>
							<div class="rating_body">
								<div class="rating_active"></div>
								<div class="rating_items">
									<input type="radio" class="rating_item" value="1" name="rating">
									<input type="radio" class="rating_item" value="2" name="rating">
									<input type="radio" class="rating_item" value="3" name="rating">
									<input type="radio" class="rating_item" value="4" name="rating">
									<input type="radio" class="rating_item" value="5" name="rating">
								</div>
							</div>
						</div>
						<div class="rating rating-2">
							<input type="checkbox" name="terrable">
							<div style="font-size: 14px; width: 100px; font-weight: bold; margin-left: 5px;">Ужасно</div>
							<div class="rating_value rating_value-hidden">4.5</div>
							<div class="rating_body">
								<div class="rating_active"></div>
								<div class="rating_items">
									<input type="radio" class="rating_item" value="1" name="rating">
									<input type="radio" class="rating_item" value="2" name="rating">
									<input type="radio" class="rating_item" value="3" name="rating">
									<input type="radio" class="rating_item" value="4" name="rating">
									<input type="radio" class="rating_item" value="5" name="rating">
								</div>
							</div>
						</div>
					</div>
					<div class="type-visited">
						<p class="period-type">Период</p>
						<input type="checkbox" name="мarch-may">
						<div class="float-div">март-май</div>
						<input type="checkbox" name="June-august">
						<div class="float-div">июнь-авг.</div>
						<input type="checkbox" name="sept-nov">
						<div class="float-div">сент.-нояб.</div>
						<input type="checkbox" name="dec-feb">
						<div class="float-div">дек.-февр.</div>
					</div>
					<input type="text" name="searching" class="text-search" placeholder="Поиск отзывов..">
					<input type="submit" value="Готово" name="enter-data" class="well-done-btn">
				</div>
				
			</form>
			<!--end rating-->


			<!--message-->
			<div class="message-conteiner message-conteiner-margin">
					<div class="message message-width">
						<img src="img/italy.jpg" alt="">
						<span class="name">Gucci Gang</span>
						<span class="write">написал(а) отзыв</span>
						<p class="date">окт. 2020 г.</p>
						<div class="rating rating-2" style="clear: both; padding-top: 8px;">
							<div class="rating_value rating_value-hidden">4.6</div>
							<div class="rating_body">
								<div class="rating_active"></div>
								<div class="rating_items">
									<input type="radio" class="rating_item" value="1" name="rating">
									<input type="radio" class="rating_item" value="2" name="rating">
									<input type="radio" class="rating_item" value="3" name="rating">
									<input type="radio" class="rating_item" value="4" name="rating">
									<input type="radio" class="rating_item" value="5" name="rating">
								</div>
							</div>
						</div>
						<a href="#" class="message-place">Kimpton</a>
						<p class="message-message">Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Et quas harum quod odio, aliquam molestiae blanditiis temporibus laborum quis voluptate quia ipsa quo. Enim totam sit facilis voluptates recusandae doloremque.</p>
						<div class="photo-adder">
							<div class="img_preview">
          						<img src="img/4.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/place-5.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/2.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/1.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/3.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/Brooklyn-bridge.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/3.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/3.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/3.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/3.jpg">
     						</div>
						</div>
						<a class="message-place message-place-hover">Дата пребывания: <span style="font-size: 16px; font-weight: normal;">июнь 2020 г.</span></a>
					</div>
					<div class="message message-width">
						<img src="img/italy.jpg" alt="">
						<span class="name">Gucci Gang</span>
						<span class="write">написал(а) отзыв</span>
						<p class="date">окт. 2020 г.</p>
						<div class="rating rating-2" style="clear: both; padding-top: 8px;">
							<div class="rating_value rating_value-hidden">4.6</div>
							<div class="rating_body">
								<div class="rating_active"></div>
								<div class="rating_items">
									<input type="radio" class="rating_item" value="1" name="rating">
									<input type="radio" class="rating_item" value="2" name="rating">
									<input type="radio" class="rating_item" value="3" name="rating">
									<input type="radio" class="rating_item" value="4" name="rating">
									<input type="radio" class="rating_item" value="5" name="rating">
								</div>
							</div>
						</div>
						<a href="#" class="message-place">Kimpton</a>
						<p class="message-message">Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Et quas harum quod odio, aliquam molestiae blanditiis temporibus laborum quis voluptate quia ipsa quo. Enim totam sit facilis voluptates recusandae doloremque.</p>
						<div class="photo-adder">
							<div class="img_preview">
          						<img src="img/4.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/place-5.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/2.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/1.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/3.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/Brooklyn-bridge.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/3.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/3.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/3.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/3.jpg">
     						</div>
						</div>
						<a class="message-place message-place-hover">Дата пребывания: <span style="font-size: 16px; font-weight: normal;">июнь 2020 г.</span></a>
					</div>

				</div>
			<!--end massage-->
		</div>
	</div>
	<div class="footer"></div>
	<div id="popup0" class="popup">
		<a href="#" class="popup_area"></a>
		<div class="popup_body">
			<div class="popup_content">
				<a href="#" class="popup_close">X</a>
				<div class="popup_title popup_title-accaunt">Выберите фото на обложку</div>
				<div class="popup_text">
					<form action="">
						<input type="file" name="background-accaunt-photo">
						<input type="submit" value="Подтвердить"></p>
					</form>
				</div>

			</div>
		</div>
	</div>

	<div id="popup" class="popup">
		<a href="#" class="popup_area"></a>
		<div class="popup_body">
			<div class="popup_content popup_content-for-information">
				<a href="#" class="popup_close">X</a>
				 <form method="post" action="">
				 	<img src="img/Tripadvisor-logo-2.png" width="90">
				 	<h2 class="text-margin">Услуги</h2>
                    <div class="header-links">
                    	<div class="hotel-conveniences"><a href="#popup" style="padding-left: 25px;">Удобства в отеле</a></div>
                    	<div class="hotel-equipment" style="padding-left: 10px;"><a href="#popup3">Оснащенность номера</a></div>
                    	<div class="hotel-type"><a href="#popup4" style="padding-left: 30px;">Типы номеров</a></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="hotel-conveniences-feachers">
                    	<div class="feachers-left-column">
                    		<span class="parking">Бесплатная парковка</span>
	                    	<span class="swim">Бассейн</span>
	                    	<span class="cocktail">Бар/лаунж</span>
	                    	<span class="ticket">Игровая комната</span>
	                    	<span class="parking">Услуга парковки автомобиля сотрудником отеля</span>
	                    	<span class="wifi">Wi-Fi</span>
	                    	<span class="swim">Бассейн с подогревом</span>
	                    	<span class="cup-of-tea">Возможен завтрак</span>
	                    	<span class="kitchen">Буфет</span>
	                    	<span class="ticket">Теннисный корт (не на территории отеля)</span>
	                    	<span class="family">Подходит для детей / семьи</span>
	                    	<span class="bag">Бизнес-центр с Wi-Fi</span>
	                    	<span class="bag">Конференц-залы</span>
	                    	<span class="no-smoking">Отель для некурящих</span>
	                    	<span class="hanger">Услуги прачечной</span>
                    	</div>
                    	<div class="feachers-right-column">
                    		<span class="wifi">Бесплатный WiFi</span>
	                    	<span class="swim">Фитнес-центр</span>
	                    	<span class="sun">Пляж</span>
	                    	<span class="family">Бесплатное размещение для детей</span>
	                    	<span class="parking">Платная общественная парковка поблизости</span>
	                    	<span class="swim">Джакузи</span>
	                    	<span class="kitchen">Торговый автомат</span>
	                    	<span class="ticket">Прокат снаряжения для водных видов спорта</span>
	                    	<span class="ticket">Боулинг (не на территории отеля)</span>
	                    	<span class="ticket">Настольный теннис</span>
	                    	<span class="taxi">Услуги такси</span>
	                    	<span class="bag">Помещения для проведения конференций</span>
	                    	<span class="for-bedroom">Хранение багажа</span>
	                    	<span class="hanger">Прачечная с самообслуживанием</span>
                    	</div>
                    	
                    </div>
                </form>

			</div>
		</div>
	</div>
	<div id="popup3" class="popup">
		<a href="#" class="popup_area"></a>
		<div class="popup_body">
			<div class="popup_content popup_content-for-information">
				<a href="#" class="popup_close">X</a>
				 <form method="post" action="">
				 	<img src="img/Tripadvisor-logo-2.png" width="90">
				 	<h2 class="text-margin">Услуги</h2>
                    <div class="header-links">
                    	<div class="hotel-equipment"><a href="#popup" style="padding-left: 25px;">Удобства в отеле</a></div>
                    	<div class="hotel-conveniences" style="padding-left: 10px;"><a href="#">Оснащенность номера</a></div>
                    	<div class="hotel-type"><a href="#popup4" style="padding-left: 30px;">Типы номеров</a></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="hotel-conveniences-feachers">
                    	<div class="feachers-left-column">
                    		<span class="for-bedroom">Шторы, блокирующие свет</span>
	                    	<span class="for-bedroom">Обеденная зона</span>
	                    	<span class="cup-of-tea">Мини-кухня</span>
	                    	<span class="for-bedroom">Диван-кровать</span>
	                    	<span class="for-bedroom">Отдельный балкон</span>
	                    	<span class="for-bedroom">Сейф</span>
	                    	<span class="for-bedroom">Диван</span>
	                    	<span class="for-bedroom">VIP-номера</span>
	                    	<span class="for-bedroom">Кафельный/мраморный пол</span>
	                    	<span class="kitchen">Микроволновая печь</span>
	                    	<span class="kitchen">Кухонная плита</span>
	                    	<span class="kitchen">Кухонная утварь</span>
	                    	<span class="bathroom">Бесплатные туалетные принадлежности</span>
                    	</div>
                    	<div class="feachers-right-column">
                    		<span class="snow">Кондиционер</span>
	                    	<span class="for-bedroom">Уборка номеров</span>
	                    	<span class="play">ТВ с плоским экраном</span>
	                    	<span class="bathroom">Душевая кабина без поддона на полу</span>
	                    	<span class="call">Обслуживание номеров</span>
	                    	<span class="for-bedroom">Телефон</span>
	                    	<span class="for-bedroom">Утюг</span>
	                    	<span class="kitchen">Холодильник</span>
	                    	<span class="kitchen">Электрический чайник</span>
	                    	<span class="bathroom">Ванна/душ</span>
	                    	<span class="bathroom">Фен</span>
                    	</div>
                    	
                    </div>
                </form>

			</div>
		</div>
	</div>
	<div id="popup4" class="popup">
		<a href="#" class="popup_area"></a>
		<div class="popup_body">
			<div class="popup_content popup_content-for-information">
				<a href="#" class="popup_close">X</a>
				 <form method="post" action="">
				 	<img src="img/Tripadvisor-logo-2.png" width="90">
				 	<h2 class="text-margin">Услуги</h2>
                    <div class="header-links">
                    	<div class="hotel-equipment"><a href="#popup" style="padding-left: 25px;">Удобства в отеле</a></div>
                    	<div class="hotel-type" style="padding-left: 10px; border-right: none;"><a href="#popup3">Оснащенность номера</a></div>
                    	<div class="hotel-conveniences"><a href="#" style="padding-left: 30px;">Типы номеров</a></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="hotel-conveniences-feachers">
                    	<div class="feachers-left-column">
                    		<span class="river">С видом на океан</span>
	                    	<span class="no-smoking">Номера для некурящих</span>
	                    	<span class="for-bedroom">Семейные номера</span>
                    	</div>
                    	<div class="feachers-right-column">
                    		<span class="river">С видом на город</span>
	                    	<span class="for-bedroom">Номера-люксы</span>
                    	</div>
                    	
                    </div>
                </form>

			</div>
		</div>
	</div>

	<div id="popup2" class="popup">
		<a href="#" class="popup_area"></a>
		<div class="popup_body">
			<div class="popup_content" style="overflow: auto;">
				<a href="#" class="popup_close">X</a>
				 <form method="post" action="">
						<p style="margin-top: 0px;">Подробнее</p>
						<div class="text-info" style="font-weight: normal;">ТИП КУХНИ</div>
						<div class="time">Американская, Барбекю</div>
						<div class="text-info" style="font-weight: normal;">СПЕЦИАЛИЗИРОВАННОЕ МЕНЮ</div>
						<div class="time">Безглютеновые блюда</div>
						<div class="text-info" style="font-weight: normal;">ВРЕМЯ ПРИЕМА ПИЩИ</div>
						<div class="time">Обед, Ужин</div>
						<div class="text-info" style="font-weight: normal;">УСЛУГИ</div>
						<div class="time">Еда на вынос, Места для сидения, Имеется парковка, Телевизор, Детские стульчики для кормления, Доступ для кресел-каталок, Подают алкоголь, Принимаются кредитные карты, Обслуживание посетителей за столиками</div>
                </form>

			</div>
		</div>
	</div>

	<script src="script.js"></script>
	<script> new Sim()</script>
	<script src="script2.js"></script>
</body>
</html>