@model Project.ViewModels.AddLandmark

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/site.js"></script>
</head>
<body>
    <div class="header">
        <div class="header-login">
            <div class="wrapper wrapper-enter">
                <div class="conteiner" style="height: 30px;">
                    <a href="/" style="display: block; float: left; margin-top: 0; margin-left: 0; margin-top: -5px;">
                        <img src="data:image/jpeg;base64, @(Convert.ToBase64String(@ViewBag.defaultSityImage.image))" alt="" class="logo">
                    </a>
                </div>

                <div class="places-place" style="width: 550px; height: 500px;">
                    <form method="post" asp-controller="Admin" asp-action="AddLandmark" enctype="multipart/form-data">
                        <h1 style="position: relative; top: 30px; left: 20px; font-size: 40px;">Достопримечательность</h1>
                        <div class="form-publish">
                            <div asp-validation-summary="ModelOnly"></div>
                            <h4>Название достопримечательности</h4>
                            <div>
                                <input asp-for="Name" required />
                                <span asp-validation-for="Name"></span>
                            </div>
                            <h4>Главное фото</h4>
                            <div>
                                <input asp-for="MainPhoto" required />
                                <span asp-validation-for="MainPhoto"></span>
                            </div>
                            <h4>Фото</h4>
                            <div>
                                <input asp-for="Photos" multiple />
                                <span asp-validation-for="Photos"></span>
                            </div>
                            <h4>Направления</h4>
                            <div>
                                @Html.DropDownListFor(model => model.DirectionId, ViewBag.selectList as SelectList, new { @required = "required" })
                            </div>

                            <input type="submit" value="Подтвердить" class="send-publish">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="wrapper">

        </div>
    </div>
    <div class="footer"></div>
</body>
</html>