<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style-1.css">
	<title>Tripadvisor: прочтите отзывы, сравните цены и забронируйте</title>
</head>
<body>
	<div class="header header-account">
		
		<div class="header-login">
			<div class="wrapper">
				<div class="conteiner">
					<img src="img/TRIP-2.png" alt="" class="logo">
					<a href="#popup" class="nav_1">Войти</a>
					<a href="#" class="nav_2">Опубликовать</a>
					<!--<a href="#" class="nav_3">Уведомления</a>
					<a href="#" class="nav_4">Поездки</a>-->
				</div>
			</div>
		</div>
	</div>


	<div class="content content-accaunt-2">
		<div class="wrapper-accaunt-content">
			<div class="title">
				<span>Gran Cenote</span>
			</div>
			<div class="rating rating-2">
				<div class="rating_value rating_value-hidden">3.6</div>
				<div class="rating_body">
					<div class="rating_active"></div>
					<div class="rating_items">
						<input type="radio" class="rating_item" value="1" name="rating">
						<input type="radio" class="rating_item" value="2" name="rating">
						<input type="radio" class="rating_item" value="3" name="rating">
						<input type="radio" class="rating_item" value="4" name="rating">
						<input type="radio" class="rating_item" value="5" name="rating">
					</div>
				</div>
				<div style="font-size: 14px; width: 100px; font-weight: bold; margin-left: 5px;">2417 отзывов</div>
			</div>		
			<div class="information">
				<p>Информация</p>
				<div class="text-info">Предположительная<br>продолжительность</div>
				<div class="time">1–2 часа</div>
				<div class="edit">Внесите правки, чтобы улучшить наш каталог.</div>
				<a href="#" class="edit-ref">Редактировать объект каталога</a>
			</div>
			

			<!--image slider start-->
			<div class="sim-slider">
			     <ul class="sim-slider-list">
			         <li><img src="img/white.jpg" alt="screen" width="720""></li>    <!-- это экран -->

			         <!--Загружать фото 1280*720-->
			         <li class="sim-slider-element"><img src="img/1.jpg" alt="1" width="720" height="405"></li>
			         <li class="sim-slider-element"><img src="img/2.jpg" alt="2" width="720" height="405"></li>
			         <li class="sim-slider-element"><img src="img/3.jpg" alt="N" width="720" height="405"></li>
			         <li class="sim-slider-element"><img src="img/4.jpg" alt="N" width="720" height="405"></li>
			         <li class="sim-slider-element"><img src="img/place-5.jpg" alt="N" width="720"></li>
			     </ul>
			     <div class="sim-slider-arrow-left"></div>
			     <div class="sim-slider-arrow-right"></div>
			     <div class="sim-slider-dots"></div>
			 </div>
			<!--image slider end-->
			<div class="clearfix"></div>

			<div class="send-photo">
				<p>Отправить</p>
				<a href="#" class="send-btn">Написать отзыв</a>
				<a href="#popup0" class="send-btn send-btn-2">Загрузить фотографию</a>

				
			</div>
			<div class="clearfix"></div>

			<!--rating-->
			<form action="">
				<div class="rating-conteiner">
					<div class="ratings-wrapper">
						<div class="rating">
							<div class="rating_value">4.8</div>
							<div class="rating_body">
								<div class="rating_active"></div>
								<div class="rating_items">
									<input type="radio" class="rating_item" value="1" name="rating">
									<input type="radio" class="rating_item" value="2" name="rating">
									<input type="radio" class="rating_item" value="3" name="rating">
									<input type="radio" class="rating_item" value="4" name="rating">
									<input type="radio" class="rating_item" value="5" name="rating">
								</div>
							</div>
						</div>

						<div class="rating rating-2">
							<input type="checkbox" name="awesome">
							<div style="font-size: 14px; width: 100px; font-weight: bold; margin-left: 5px;">Отлично</div>
							<div class="rating_value rating_value-hidden">4.6</div>
							<div class="rating_body">
								<div class="rating_active"></div>
								<div class="rating_items">
									<input type="radio" class="rating_item" value="1" name="rating">
									<input type="radio" class="rating_item" value="2" name="rating">
									<input type="radio" class="rating_item" value="3" name="rating">
									<input type="radio" class="rating_item" value="4" name="rating">
									<input type="radio" class="rating_item" value="5" name="rating">
								</div>
							</div>
						</div>
						<div class="rating rating-2">
							<input type="checkbox" name="very-good">
							<div style="font-size: 14px; width: 100px; font-weight: bold; margin-left: 5px;">Очень хорошо</div>
							<div class="rating_value rating_value-hidden">4</div>
							<div class="rating_body">
								<div class="rating_active"></div>
								<div class="rating_items">
									<input type="radio" class="rating_item" value="1" name="rating">
									<input type="radio" class="rating_item" value="2" name="rating">
									<input type="radio" class="rating_item" value="3" name="rating">
									<input type="radio" class="rating_item" value="4" name="rating">
									<input type="radio" class="rating_item" value="5" name="rating">
								</div>
							</div>
						</div>
						<div class="rating rating-2">
							<input type="checkbox" name="not-bad">
							<div style="font-size: 14px; width: 100px; font-weight: bold; margin-left: 5px;">Неплохо</div>
							<div class="rating_value rating_value-hidden">3.5</div>
							<div class="rating_body">
								<div class="rating_active"></div>
								<div class="rating_items">
									<input type="radio" class="rating_item" value="1" name="rating">
									<input type="radio" class="rating_item" value="2" name="rating">
									<input tpye="radio" class="rating_item" value="3" name="rating">
									<input type="radio" class="rating_item" value="4" name="rating">
									<input type="radio" class="rating_item" value="5" name="rating">
								</div>
							</div>
						</div>
						<div class="rating rating-2">
							<input type="checkbox" name="bad">
							<div style="font-size: 14px; width: 100px; font-weight: bold; margin-left: 5px;">Плохо</div>
							<div class="rating_value rating_value-hidden">2.5</div>
							<div class="rating_body">
								<div class="rating_active"></div>
								<div class="rating_items">
									<input type="radio" class="rating_item" value="1" name="rating">
									<input type="radio" class="rating_item" value="2" name="rating">
									<input type="radio" class="rating_item" value="3" name="rating">
									<input type="radio" class="rating_item" value="4" name="rating">
									<input type="radio" class="rating_item" value="5" name="rating">
								</div>
							</div>
						</div>
						<div class="rating rating-2">
							<input type="checkbox" name="terrable">
							<div style="font-size: 14px; width: 100px; font-weight: bold; margin-left: 5px;">Ужасно</div>
							<div class="rating_value rating_value-hidden">4.5</div>
							<div class="rating_body">
								<div class="rating_active"></div>
								<div class="rating_items">
									<input type="radio" class="rating_item" value="1" name="rating">
									<input type="radio" class="rating_item" value="2" name="rating">
									<input type="radio" class="rating_item" value="3" name="rating">
									<input type="radio" class="rating_item" value="4" name="rating">
									<input type="radio" class="rating_item" value="5" name="rating">
								</div>
							</div>
						</div>
					</div>
					<div class="type-visited">
						<p class="period-type">Период</p>
						<input type="checkbox" name="мarch-may">
						<div class="float-div">март-май</div>
						<input type="checkbox" name="June-august">
						<div class="float-div">июнь-авг.</div>
						<input type="checkbox" name="sept-nov">
						<div class="float-div">сент.-нояб.</div>
						<input type="checkbox" name="dec-feb">
						<div class="float-div">дек.-февр.</div>
					</div>
					<input type="text" name="searching" class="text-search" placeholder="Поиск отзывов..">
					<input type="submit" value="Готово" name="enter-data" class="well-done-btn">
				</div>
				
			</form>
			<!--end rating-->


			<!--message-->
			<div class="message-conteiner message-conteiner-margin">
					<div class="message message-width">
						<img src="img/italy.jpg" alt="">
						<span class="name">Gucci Gang</span>
						<span class="write">написал(а) отзыв</span>
						<p class="date">окт. 2020 г.</p>
						<div class="rating rating-2" style="clear: both; padding-top: 8px;">
							<div class="rating_value rating_value-hidden">4.6</div>
							<div class="rating_body">
								<div class="rating_active"></div>
								<div class="rating_items">
									<input type="radio" class="rating_item" value="1" name="rating">
									<input type="radio" class="rating_item" value="2" name="rating">
									<input type="radio" class="rating_item" value="3" name="rating">
									<input type="radio" class="rating_item" value="4" name="rating">
									<input type="radio" class="rating_item" value="5" name="rating">
								</div>
							</div>
						</div>
						<a href="#" class="message-place">Kimpton</a>
						<p class="message-message">Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Et quas harum quod odio, aliquam molestiae blanditiis temporibus laborum quis voluptate quia ipsa quo. Enim totam sit facilis voluptates recusandae doloremque.</p>
						<div class="photo-adder">
							<div class="img_preview">
          						<img src="img/4.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/place-5.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/2.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/1.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/3.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/Brooklyn-bridge.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/3.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/3.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/3.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/3.jpg">
     						</div>
						</div>
					</div>
					<div class="message message-width">
						<img src="img/italy.jpg" alt="">
						<span class="name">Gucci Gang</span>
						<span class="write">написал(а) отзыв</span>
						<p class="date">окт. 2020 г.</p>
						<div class="rating rating-2" style="clear: both; padding-top: 8px;">
							<div class="rating_value rating_value-hidden">4.6</div>
							<div class="rating_body">
								<div class="rating_active"></div>
								<div class="rating_items">
									<input type="radio" class="rating_item" value="1" name="rating">
									<input type="radio" class="rating_item" value="2" name="rating">
									<input type="radio" class="rating_item" value="3" name="rating">
									<input type="radio" class="rating_item" value="4" name="rating">
									<input type="radio" class="rating_item" value="5" name="rating">
								</div>
							</div>
						</div>
						<a href="#" class="message-place">Kimpton</a>
						<p class="message-message">Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Et quas harum quod odio, aliquam molestiae blanditiis temporibus laborum quis voluptate quia ipsa quo. Enim totam sit facilis voluptates recusandae doloremque.</p>
						<div class="photo-adder">
							<div class="img_preview">
          						<img src="img/4.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/place-5.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/2.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/1.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/3.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/Brooklyn-bridge.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/3.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/3.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/3.jpg">
     						</div>
     						<div class="img_preview">
          						<img src="img/3.jpg">
     						</div>
						</div>
					</div>

				</div>
			<!--end massage-->
		</div>
	</div>
	<div class="footer"></div>
	<div id="popup0" class="popup">
		<a href="#" class="popup_area"></a>
		<div class="popup_body">
			<div class="popup_content">
				<a href="#" class="popup_close">X</a>
				<div class="popup_title popup_title-accaunt">Выберите фото на обложку</div>
				<div class="popup_text">
					<form action="">
						<input type="file" name="background-accaunt-photo">
						<input type="submit" value="Подтвердить"></p>
					</form>
				</div>

			</div>
		</div>
	</div>

	<div id="popup" class="popup">
		<a href="#" class="popup_area"></a>
		<div class="popup_body">
			<div class="popup_content">
				<a href="#" class="popup_close">X</a>
				 <form method="post" action="">
				 	<img src="img/Tripadvisor-logo.png" width="90">
				 	<p>Войдите в систему, чтобы открыть все возможности Самолёта</p>
                    <label>Логин:</label><br />
                    <input type="text" name="login" /><br />
                    <label>Пароль:</label><br />
                    <input type="password" name="password" /><br />
                    <input type="submit" value="Войти"  formaction="~/Home/Login" class="enter" />
                    <a href="#popup2" class="registration">Зарегистрироваться</a>
                </form>

			</div>
		</div>
	</div>

	<div id="popup2" class="popup">
		<a href="#" class="popup_area"></a>
		<div class="popup_body">
			<div class="popup_content">
				<a href="#" class="popup_close">X</a>
				 <form method="post" action="">
				 	<img src="img/Tripadvisor-logo.png" width="90">
				 	<p>Зерегестрируйтесь в системе, чтобы открыть все возможности Самолёта</p>
                    <input type="text" name="login" placeholder="Придумайте логин:" /><br />
                    <input type="password" name="password" placeholder="Придумайте пароль:" /><br />
                    <input type="submit" value="Зарегистрироваться"  />
                </form>

			</div>
		</div>
	</div>

	<script src="script.js"></script>
	<script> new Sim()</script>
	<script src="script2.js"></script>
</body>
</html>