<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>Tripadvisor: прочтите отзывы, сравните цены и забронируйте</title>
</head>
<body>
	<div class="header">
		<div class="note">
			<div class="wrapper">
				<a href="#" class="close">☓</a>
				<p>ПРИМЕЧАНИЕ ДЛЯ ПУТЕШЕСТВЕННИКОВ.<a href="https://www.tripadvisor.ru/Articles-l297-COVID_2019.html">Что нужно знать о пандемии COVID‑19</a></p>
			</div>
		</div>
		<div class="header-login">
			<div class="wrapper">
				<div class="conteiner">
					<img src="img/TRIP.png" alt="" class="logo">
					
				</div>
			</div>
		</div>
	</div>


	<div class="content">
		<div class="wrapper">
			

		</div>
	</div>
	<div class="footer"></div>
</body>
</html>