<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/site.js"></script>
</head>
<body>
    <div class="header">
        <div class="note">
            <div class="wrapper">
                <a href="#" class="close">☓</a>
                <p>ПРИМЕЧАНИЕ ДЛЯ ПУТЕШЕСТВЕННИКОВ.<a href="https://www.tripadvisor.ru/Articles-l297-COVID_2019.html">Что нужно знать о пандемии COVID‑19</a></p>
            </div>
        </div>
        <div class="header-login">
            <div class="wrapper">
                <div class="conteiner">
                    <img src="img/TRIP.png" alt="" class="logo">

                    @if (!ViewBag.isUserAuthorization)
                    {
                        <a href="#popup" class="nav_1">Войти</a>
                    }
                    else
                    {
                        <a href=@ViewBag.hrefUserProfile class="nav_1 nav_1-1" style="display: block; margin-top: -0px;">
                            <img src="img/italy.jpg" alt="" class="img-enter">
                        </a>
                    }
                    <a href="#" class="nav_2">Опубликовать</a>
                </div>

                <div class="foto_preview">
                    <div class="conteiner_p">
                        <p>Отправляйся в путешествие прямо сейчас!</p>
                    </div>

                    <img src="img/header_foto.jpeg" alt="" width="600" class="preview_foto">
                </div>
            </div>
        </div>
    </div>


    <div class="content">
        <div class="wrapper">
            <p>Направления, которые любят путешественники</p>

            <div class="slider middle">
                <div class="slides">
                    @foreach (var direction in ViewBag.directions)
                    {
                        <a href="#" class="slide"><img src=@direction.mainPhoto.name alt="" height="150"></a>}
                </div>

                <a class="prev" onclick="minusSlides(1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>


        </div>
    </div>
    <div class="footer"></div>

    <div id="popup" class="popup">
        <a href="#" class="popup_area"></a>
        <div class="popup_body">
            <div class="popup_content">
                <a href="#" class="popup_close">X</a>

                <form method="post" action="">
                    <img src="img/Tripadvisor-logo.png" width="90">
                    <p>Войдите в систему, чтобы открыть все возможности Tripadvisor.</p>
                    <label>Логин:</label><br />
                    <input type="text" name="login" /><br />
                    <label>Пароль:</label><br />
                    <input type="password" name="password" /><br />
                    <input type="submit" value="Войти" formaction="~/Home/Login" class="enter" />
                    <a href="#popup2" class="registration">Зарегистрироваться</a>
                </form>
            </div>
        </div>
    </div>

    <div id="popup_authorization" class="popup">
        <a href="#" class="popup_area"></a>
        <div class="popup_body">
            <div class="popup_content">
                <a href="#" class="popup_close">X</a>

                <form method="post" action="">
                    <img src="img/Tripadvisor-logo.png" width="90">
                    <p>Войдите в систему, чтобы открыть все возможности Tripadvisor.</p>
                    <label>Логин:</label><br />
                    <input type="text" name="login" /><br />
                    <label>Пароль:</label><br />
                    <input type="password" name="password" /><br />
                    <input type="submit" value="Войти" formaction="~/Home/Login" class="enter" />
                    <a href="#popup2" class="registration">Зарегистрироваться</a>
                </form>
            </div>
        </div>
    </div>

    <div id="popup2" class="popup">
        <a href="#" class="popup_area"></a>
        <div class="popup_body">
            <div class="popup_content">
                <a href="#" class="popup_close">X</a>
                <form method="post" action="post">
                    <img src="img/Tripadvisor-logo.png" width="90">
                    <p>Зерегестрируйтесь в системе, чтобы открыть все возможности Tripadvisor.</p>
                    <input type="text" name="login" placeholder="Придумайте логин:" /><br />
                    <input type="password" name="password" placeholder="Придумайте пароль:" /><br />
                    <input type="submit" value="Зарегистрироваться" formaction="~/Home/Authorization" />
                </form>
            </div>
        </div>
    </div>

    <div id="popup3" class="popup">
        <a href="#" class="popup_area"></a>
        <div class="popup_body">
            <div class="popup_content popup_content-adder">
                <a href="#" class="popup_close">X</a>
                <div class="popup_title popup_title-adder">Расскажите о себе по-подробнее</div>
                <div class="popup_text">
                    <form action="" method="post" enctype="multipart/form-data">
                        <label>Ваше фото</label><br />
                        <input type="file" name="backgroundAccauntPhoto"><br />
                        <label>Фамилия и имя:</label><br />
                        <input type="text" name="name" /><br />
                        <label>Место проживания:</label><br />
                        <input type="text" name="homePlace" /><br />
                        <label>Веб-сайт:</label><br />
                        <input type="text" name="website" /><br />
                        <label>О себе:</label><br />
                        <input type="text" name="personalInformation" /><br />
                        <input type="submit" value="Подтвердить" formaction="~/Account/EditAccount">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>