@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 1360px;
    height: 440px;
    background-color: #ffffff;
}

.header-account {
    height: 50px;
}

.wrapper {
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 10px;
}

.wrapper-accaunt-content {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
    text-decoration: underline;
}

.note {
    display: block;
    width: inherit;
    height: 38px;
    background-color: #faf1ed;
    border: 1px solid #faf1ed;
}

.note p {
    line-height: 19px;
    font-size: 14px;
    display: block;
    float: left;
}

.close {
    display: block;
    float: right;
    position: relative;
    right: 10px;
}

.logo {
    width: 170px;
}

.header-login a,
.nav-form {
    font-size: 15px;
    display: block;
    float: right;
    width: 150px;
    height: 26px;
    margin-top: 5px;
    padding-top: 8px;
    margin-left: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.nav-form {
    margin-top: 5px;
    padding-top: 0;
    padding-left: 0 !important;
    width: 80px !important;
    height: 35px;
    transition: 0.2s;
}

.nav-form:hover {
    border-radius: 10px !important;
    transition: 0.2s;
}

.header-login .nav_2 {
    background: url(../img/nav_plus.png) 4% 48% no-repeat;
    background-size: 24px 24px;
    width: 115px;
    padding-left: 30px;
}

.header-login .nav_4 {
    width: 75px;
    padding-left: 30px;
}

.header-login .nav_3 {
    width: 115px;
    padding-left: 30px;
}

.header-login .nav_1 {
    width: 60px;
    background-color: black;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    padding-left: 15px;
}

.header-login .nav_1-1
/*!!!!!!!!!!!!!*/

{
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50% !important;
}

.header-login .nav_1:hover {
    color: white !important;
}

.header-login a:hover:not(:first-child)
/*!!!!!!!!!!!!*/

{
    color: black;
    transition: 0.2s;
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 10px;
}

.conteiner {
    padding-bottom: 10px;
}

.foto_preview {
    background-color: #5ec5c4;
    height: 380px;
    border-radius: 15px;
    transition: 0.4s;
}

.foto_preview:hover {
    transition: 0.2s;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.conteiner_p {
    width: 350px;
    float: left;
    margin-top: 100px;
    margin-left: 60px;
}

.foto_preview p {
    font-size: 45px;
    font-weight: bold;
    color: #fff;
}

.preview_foto {
    display: block;
    float: right;
    margin-top: 40px;
}

.content p {
    font-size: 25px;
    font-weight: bold;
    display: block;
    width: 600px;
}

.slider {
    width: 1035px;
    height: 250px;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}

.navigation {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: #fff;
    opacity: 1;
    transition: all .4s ease;
    border: 1px solid darkgray;
}

.bar:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 400%;
    height: 250px;
    display: flex;
}

.slide {
    width: 292px;
    display: block;
    transition: all .6s;
    margin-right: -33px;
}

.slide .img-slide {
    width: 83%;
    height: 100%;
    border-radius: 15px;
    margin: 5px;
}

.slide a:nth-child(1) img {
    margin-left: 3px;
}

.slide img:hover {
    transition: 0.2s;
    box-shadow: 0 0 5px 2px;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup_area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup_content {
    background-color: #fff;
    color: black;
    max-width: 500px;
    padding: 30px;
    position: relative;
    top: -30px;
    padding: 50px;
}

.popup_close {
    position: absolute;
    right: 10px;
    top: 10px;
    text-decoration: none;
}

.popup_title {
    font-size: 40px;
    margin: 0 0 20px 0;
}

.popup_title-accaunt {
    font-size: 16px;
}

/*Для формы регистрации*/
.popup_content {
    position: relative;
    width: 276px;
    height: 442px;
}

.popup_content img {
    display: block;
    margin-bottom: 10px;
    position: absolute;
    top: 20px;
    left: 30px;
}

.popup_content p {
    font-weight: bold;
    font-size: 30px;
    display: block;
    margin-top: 40px;
    margin-bottom: 30px;
}

.popup_content label {
    font-size: 20px;
    color: dimgray;
}

.popup_content input {
    width: 240px;
    height: 15px;
    padding: 10px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
    transition: 0.2s;
}

.popup_content input:hover {
    transition: 0.5s;
    border: 1px solid dimgray;
}

.popup_content input[type="submit"],
.registration {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    display: block;
    margin: 10px auto 0 auto;
}

.popup_content .enter {
    width: 100px !important;
    float: left;
}

.popup_content .enter:hover {
    transition: 0.2s;
    border-radius: 15px;
}

.registration {
    float: right;
    position: absolute;
    left: 160px;
    padding-top: 15px;
    height: 35px;
    letter-spacing: -0.4px;
    transition: 0.2s;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
}


/*Для формы регистрации*/
.popup_content {
    position: relative;
    width: 276px;
    height: 442px;
}

.popup_content img {
    display: block;
    margin-bottom: 10px;
    position: absolute;
    top: 20px;
    left: 30px;
}

.popup_content p {
    font-weight: bold;
    font-size: 30px;
    display: block;
    margin-top: 40px;
    margin-bottom: 30px;
}

.popup_content label {
    font-size: 20px;
    color: dimgray;
}

.popup_content input {
    width: 240px;
    height: 15px;
    padding: 10px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
    transition: 0.2s;
}

.popup_content input:hover {
    transition: 0.5s;
    border: 1px solid dimgray;
}

.popup_content input[type="submit"],
.registration {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    display: block;
    margin: 10px auto 0 auto;
}

.popup_content .enter {
    width: 100px !important;
    float: left;
}

.popup_content .enter:hover {
    transition: 0.2s;
    border-radius: 15px;
}

.registration {
    float: right;
    position: absolute;
    left: 160px;
    padding-top: 15px;
    height: 35px;
    letter-spacing: -0.4px;
    transition: 0.2s;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
}

.registration:hover {
    text-decoration: none;
    color: white;
    transition: 0.2s;
    border-radius: 15px;
}
/*конец формы регистрации*/

.content-accaunt {
    background-color: #f2f2f2;
    min-height: 500px;
}

.photo-add {
    width: inherit;
    height: 225px;
    background-color: #e0e0e0;
    border-top: 1px solid #e0e0e0;
    opacity: 0.6;
}

.photo-add:hover {
    opacity: 1;
}

.content .text-add {
    width: 250px;
    margin-left: 475px;
    margin-top: 105px;
}

.content .text-add:hover {
    cursor: pointer;
}

.photo-add .ref-add-fhoto {
    font-size: 14px;
    color: #404040;
}

.photo-add img {
    float: left;
    margin-right: 5px;
}

.header-profile img,
.message img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

.header-profile {
    min-width: 1000px;
    height: 110px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    transition: 0.4s;
}

.header-profile .publ {
    font-size: 16px;
    display: block;
    margin-top: 15px;
    letter-spacing: 0.6px;
}

.header-profile span {
    color: gray;
    font-size: 18px;
}

.account-edit {
    display: block;
    float: right;
    width: 185px;
    height: 21px;
    border: 1px solid transparent;
    border: 1px solid lightgray;
    padding: 5px 20px;
    border-radius: 2px;
}

.about-header-profile {
    float: left;
}

.header-profile a:hover {
    text-decoration: none;
    color: black;
}

.about-profile {
    width: 230px;
    min-height: 150px;
    background-color: #fff;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 25px 20px;
    border-radius: 10px;
    transition: 0.4s;
    float: left;
}

.about-profile:hover,
.header-profile:hover {
    transition: 0.2s;
    box-shadow: 0 0 15px 2px gray;
}

.about-profile:hover p,
.about-profile:hover a,
.repost:hover p {
    transition: 0.8;
    color: gray;
}

.about-profile span,
.repost span {
    font-weight: bold;
    font-size: 15px;
}

.repost span {
    font-size: 25px !important;
}

.wrapper-position {
    position: relative;
    top: -40px;
}

.repost {
    width: 780px;
    min-height: 10px;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px 100px 25px 100px;
    transition: 0.4s;
    float: right;
    border-radius: 20px;
    border: 4px dashed gray;
}

.ob-container {
    margin-left: 20px;
    margin-top: 15px;
    width: 150px;
    height: inherit;
    position: relative;
}

.about-profile p,
.about-profile a,
.repost a {
    font-size: 13px;
    color: darkgray;
    display: block;
    width: 175px;
    margin-bottom: 10px;
}

.repost a {
    margin-top: 20px;
    width: 250px;
    font-size: 16px;
    color: black;
}

.about-profile p:not(:nth-child(2)):before,
.about-profile a:before,
.repost a:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-image: url(../img/icon-adress.png);
    background-size: 15px 15px;
    float: left;
    position: absolute;
    left: -17px;
}

.repost a:before {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    left: -25px;
}

.repost .public-photo:before {
    background-image: url(../img/camera.png);
    background-size: 20px 20px;
}

.repost .add-feedback:before {
    background-image: url(../img/note.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
}

.about-profile p:nth-child(2):before {
    background-image: url(../img/aboutme.png);
    background-size: 14px 14px;
    background-repeat: no-repeat;
}

.about-profile a:before {
    background-image: url(../img/plus.png);
    background-size: 14px 14px;
    background-repeat: no-repeat;
}

.about-wrapper {
    float: left;
    clear: both;
}

.message {
    width: 785px;
    min-height: 50px;
    background-color: #fff;
    float: left;
    margin-top: 20px;
    border: 1px solid lightgray;
    position: relative;
    padding: 15px;
}

.message img,
.img-enter {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    float: left;
}

.img-enter {
    border-radius: 50%;
}

.message span {
    font-size: 12px;
}

.name {
    display: block;
    float: left;
    margin-top: 4px;
}

.write {
    display: block;
    margin-left: 5px;
    margin-top: 4px;
    float: left;
    color: gray;
    font-size: 10px;
}

.message .date {
    display: block;
    clear: both;
    font-size: 10px;
    position: absolute;
    top: 35px;
    left: 65px;
    color: gray;
}

/*.message-rating {
    margin-top: 65px;
}*/



/*ÐÅÉÒÈÍÃ*/
.message-rating-green {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #00aa6c;
    float: left;
    margin-right: 2px;
    border: 1px solid #00aa6c;
}

.message-rating-white {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    float: left;
    margin-right: 2px;
    border: 1px solid #00aa6c;
}
/*ÊÎÍÅÖ ÐÅÉÒÈÍÃÀ*/

.message .message-message {
    width: inherit;
    font-size: 18px;
    font-weight: normal;
    color: #696969;
    clear: left;
}

.message .message-place {
    font-weight: bold;
    display: block;
    float: left;
    margin-top: 5px;
    clear: right;
    margin-bottom: 5px;
}

.message-conteiner {
    width: 545px;
    min-height: 5px;
    float: left;
}

.clearfix {
    clear: both;
}

/* Next & previous buttons */
.prev,
.next {
    z-index: 200;
    cursor: pointer;
    position: absolute;
    top: 58%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/*Страничка для направлений*/
.content .title h1,
.content .title span {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #ff5d5d;
    line-height: 60px;
}

.content .title span {
    color: black;
}

.content .photo-direction {
    width: 1040px;
    height: 400px;
    background-color: white;
    margin-top: 20px;
}

.photo-float {
    float: left;
}

.content .photo-direction-conteiner {
    width: 438px;
    height: 400px;
    float: right;
}

.photo-direction-conteiner img {
    width: 438px;
    height: 199px;
    margin-bottom: -2px;
}

.photo-direction img:hover {
    opacity: 0.8;
    transition: 0.2s;
}

.title-description {
    border-radius: 20px;
    width: 1040px;
    margin-top: 20px;
}

.title-description p {
    width: inherit;
    font-size: 30px;
}

.title-description .title-conteiner {
    border-radius: 0 30px 30px 0;
    padding: 30px 35px;
    background-color: #ff5d5d;
    float: left;
    width: 600px;
}

.title-description .title-conteiner span {
    font-size: 20px;
    color: gray;
}

.title-description .title-conteiner2 {
    background-color: #fff;
    float: right;
    border-radius: 20px 0 0 20px;
    border: 3px dashed gray;
    margin-top: 20px;
    border-right: none;
}

.most-interesting {
    width: 1040px;
    height: 320px;
    margin-top: 20px;
}

.most-interesting:nth-child(1) {
    margin-top: 50px;
}

.most-interesting h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 28px;
    display: block;
    margin-bottom: 20px;
}

.conteiner-p {
    width: 250px;
    float: left;
}

.conteiner-p p {
    font-weight: normal;
    width: 250px;
    font-size: 18px;
    color: gray;
}

.content-photo .paragraf {
    font-size: 18px !important;
    display: block;
    margin-top: 5px;
    width: 250px;
}

.conteiner-p span {
    font-weight: bold;
    font-size: 22px;
    display: block;
    color: black;
}

.block-1 {
    width: 790px;
    height: 250px;
    float: left;
    margin-top: 5px;
}

.photo-block {
    width: 250px;
    float: left;
    margin-right: 10px;
}

.photo-block:last-child {
    margin-right: 0;
}

/* Для popup_adder */
.popup_title-adder {
    font-weight: bold;
    font-size: 30px !important;
}

.popup_content-adder {
    border-radius: 10px;
    height: 480px;
    width: 250px;
    padding: 40px;
    padding-bottom: 60px;
}

/*Текст над иконкой направлений - индекс*/
.text-over-photo {
    left: 10px;
    bottom: 5px;
    position: absolute;
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
}

.shadow {
    position: absolute;
    bottom: -5px;
    width: 242px;
    height: 250px;
    margin-left: 5px;
    border-radius: 15px;
    background-image: linear-gradient(to top, black -100%, transparent 30%);
}

.shadow:hover {
    transition: 0.2s;
    box-shadow: 0 0 5px 2px;
    z-index: 200;
}


/*Рейтинг для мест и фото*/
.rating-place {
    width: 400px;
    height: 40px;
    border: 1px solid lightgray;
    margin-top: 10px;
}

.rating-place .img-place {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 0;
}

.ref-place {
    font-size: 12px;
    font-weight: bold;
}

.ref-place:hover {
    color: black;
    text-decoration: none;
}

.message-rating-place {
    margin-top: 5px;
}

.message-rating-place div {
    width: 10px;
    height: 10px;
}

.feedback {
    font-size: 10px;
    color: gray;
}

/*Для interesting*/
.counter-rating
{
    font-size: 15px;
    margin-left: 5px;
}

.information
{
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    width: 300px;
    box-shadow: 0 1px 1px 2px #e6e6e6;
    float: left;
    background-color: #f2f2f2;
}
.text-info
{
    font-weight: bold;
    line-height: 20px;
    margin-top: 25px;
}

.time,
.edit 
{
    color: #545454;
    margin-top: 10px;
}
.edit
{
    padding-left:25px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.edit-ref
{
    padding-left: 25px;
    text-decoration: underline;
    color: black;
    font-weight: bold;
}
.edit-ref:hover
{
    color: black;
}


/*slider*/


/* General styles */
.sim-slider {
  position: relative;
  width: 720px;
  height: 405px;
  float: left;
  margin-top: 20px;
  overflow: hidden;
}

.sim-slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.sim-slider-element {
  width: 100%;
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
}

/* Navigation item styles */
div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
  width: 60px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 4;
}

div.sim-slider-arrow-left {
  left: 10px;
  top: 45%;
  display: block;
  background-size: 60px 60px;
  transition: 0.1s;
}

div.sim-slider-arrow-right {
  right: 10px;
  top: 45%;
  display: block;
  background-size: 60px 60px;
  transition: 0.1s;
}

div.sim-slider-arrow-left:hover {
    transition: 0.1s;
  opacity: 1.0;
}

div.sim-slider-arrow-right:hover {
    transition: 0.1s;
  opacity: 1.0;
}

div.sim-slider-dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  text-align: center;
}

span.sim-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #BBB;
  border-radius: 5px;
  cursor: pointer;
}
/*end slider*/

.send-photo p
{
    font-size: 30px;
    display: block;
    margin-bottom: 20px;
}

.send-btn
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    transition: 0.15s;
    display: block;
    padding: 12px 25px;
    width: 124px;
    border: 2px solid black;
    border-radius: 30px;
    float: left;
    margin-right: 10px;
    transition: 0.2s;
}
.send-btn-2
{
    width: 176px;
}
.send-btn:hover
{
    color: white;
    text-decoration: none;
    transition: 0.15s;
    background-color: black;
}
.text-search
{
    display: block;
    float: left;
    width: 500px;
    border-radius: 30px;
    font-size: 16px;
    padding: 12px 0px 11px 15px;
    position: absolute;
    top: -47px;
    left: 428px;
    border: 2px solid black;
}
.text-search:focus 
{
    outline: none;
}

/*rating*/
.rating
{
    display: flex;
    align-items: flex-end;
    font-size: 35px;
    line-height: 0.75;
}



.rating-2
{
    font-size: 20px;
    margin-top: 10px;
}

.rating_value
{
    font-size: 60%;
    font-weight: bold;
    line-height: 1;
}

.rating_value-hidden
{
    display: none;
}

.rating_body
{
    position: relative;
}
.rating_body:before
{
    content: "★★★★★";
    display: block;

    color: white;
}
.rating_items
{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.rating_item
{
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}
.rating_active
{
    position: absolute;
    width: 100%;/*менять райтинг*/
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.rating_active:before
{
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #00aa6c;
}

.ratings-wrapper
{
    margin-top: 40px;
    width: 210px;
    float: left;
}

.type-visited input
{
    margin-right: 10px;
    float: left;
    margin-top: 11px;
    margin-left: 40px;
    margin-right: 5px;
}

.type-visited
{
    width: 150px;
    height: 151px;
    float: left;
    margin-top: 45px;
    margin-left: 10px;
}
.type-visited .period-type
{
    font-size: 14px;
    margin-bottom: -1px;
    margin-left: 40px;
    margin-top: 6px;
}
.float-div
{
    float: right;
    margin-left: 20px;
    margin-top: 8px;
}
.float-div:first-child
{
    margin-top: 6px;
}

.rating-conteiner
{
    width: 400px;
    height: 196px;
    float: left;
    position: relative;
}
.message-conteiner-margin
{
    margin-left: 30px;
}
.message-width
{
    width: 615px;
}

.well-done-btn
{
    width: 120px;
    color: white;
    background-color: black;
    border: none;
    position: absolute;
    left: 960px;
    top: -47px;
    padding: 9px 0;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.2s;
    border: 2px solid transparent;
    font-size: 20px;
    cursor: pointer;
}

.well-done-btn:hover
{
    background-color: #fff;
    border: 2px solid black;
    color: black;
    transition: 0.2s;
}

/*.photo-adder img
{
    display: block;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 0;
    opacity: 1 !important;
    margin-bottom: 0px !important;
    margin-right: 15px;
    overflow: hidden;
}*/
.img_preview {
  width: 100px;
  height: 100px;
  display: flex;
  overflow: hidden;
  float: left;
  margin-right: 2px;
}
.img_preview:last-child
{
    margin-right: 0px;
}
.img_preview img {
  margin: auto;
  transition: 0.3s ease;
  border-radius: 0;
  top: -50px;
   width: 100%; height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
}
.photo-adder img:last-child
{
    margin-right: 0px;

}
.photo-adder
{
    overflow: hidden;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.message-place
{
    clear: both !important;
    margin-top: 8px !important;
    margin-left: -1px !important;
}

.content-accaunt-2
{
    background-color: #fff !important;
}