<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
@*	<link rel="stylesheet" href="style.css">*@
	<title>Ваш аккаунт</title>
</head>
<body>
	<div class="header header-account">
		<div class="note">
			<div class="wrapper">
				<a href="#" class="close">☓</a>
				<p>ПРИМЕЧАНИЕ ДЛЯ ПУТЕШЕСТВЕННИКОВ.<a href="https://www.tripadvisor.ru/Articles-l297-COVID_2019.html">Что нужно знать о пандемии COVID‑19</a></p>
			</div>
		</div>
		<div class="header-login">
			<div class="wrapper">
				<div class="conteiner">
					<img src="img/TRIP.png" alt="" class="logo">
					<a href="#" class="nav_1">Войти</a>
					<a href="#" class="nav_2">Опубликовать</a>
					<!--<a href="#" class="nav_3">Уведомления</a>
					<a href="#" class="nav_4">Поездки</a>-->
				</div>

				
			</div>
		</div>
	</div>


	<div class="content content-accaunt">
		<div class="photo-add">
			<div class="wrapper-accaunt-content">
				<div class="text-add">
					<img src="img/gallery.png" alt="" width="15">
					<a href="#popup" class="ref-add-fhoto">Добавить фото обложки</a>
				</div>
			</div>
		</div>



		<div class="wrapper-accaunt-content">
			<div class="wrapper-position">
				<div class="header-profile">
					<img src="img/italy.jpg" alt="">
					<div class="about-header-profile">
						<p>Gucci Gang</p>
						<p class="publ">Публикации</p>
						<span>0</span>
					</div>
					<a class="account-edit" href="#popup">Редактировать профиль</a>
				</div>
				<div class="about-wrapper">
					<div class="about-profile">
						<span>Обо мне</span>
						<div class="ob-container">
							<p>Москва, Россия</p>
							<p>Люблю путешествовать, побывал в Казани, Уфе, Смоленске, СПБ, Великих Луках и т.д.</p>
							<p>В сообществе с апр. 2021 г.</p>
							<a href="#" >Напишите подробнее о себе</a>
							<a href="#" >Добавьте веб-сайт</a>
						</div>
					</div>
					<div class="repost">
						<span>Поделитесь советами для путешественников</span>
						<div class="ob-container">
							<a href="#" class="public-photo">Опубликовать фотографии</a>
							<a href="#" class="add-feedback">Написать отзыв</a>
						</div>
					</div>
				</div>
				<div class="message-conteiner">
					<div class="message">
						<img src="img/italy.jpg" alt="">
						<span class="name">Gucci Gange</span>
						<span class="write">написал(а) отзыв</span>
						<p class="date">окт. 2020 г.</p>
						<div class="message-rating">
							<div class="message-rating-green"></div>
							<div class="message-rating-green"></div>
							<div class="message-rating-green"></div>
							<div class="message-rating-white"></div>
							<div class="message-rating-white .message-rating-green-5"></div>
						</div>
						<a href="#" class="message-place">Kimpton</a>
						<p class="message-message">Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Et quas harum quod odio, aliquam molestiae blanditiis temporibus laborum quis voluptate quia ipsa quo. Enim totam sit facilis voluptates recusandae doloremque.lit. Et quas harum quod odio, aliquam molestiae blanditiis temporibus laborum quis voluptate quia ipsa quo. Enim totam sit facilis voluptates recusandae doloremque.lit. Et quas harum quod odio, aliquam molestiae blanditiis temporibus laborum quis voluptate quia ipsa quo. Enim totam sit facilis voluptates recusandae doloremque.lit. Et quas harum quod odio, aliquam molestiae blanditiis temporibus laborum quis voluptate quia ipsa quo. Enim totam sit facilis voluptates recusandae doloremque.lit. Et quas harum quod odio, aliquam molestiae blanditiis temporibus laborum quis voluptate quia ipsa quo. Enim totam sit facilis voluptates recusandae doloremque.</p>
					</div>
					<div class="message">
						<img src="img/italy.jpg" alt="">
						<span class="name">Gucci Gang</span>
						<span class="write">написал(а) отзыв</span>
						<p class="date">окт. 2020 г.</p>
						<div class="message-rating">
							<div class="message-rating-green"></div>
							<div class="message-rating-green"></div>
							<div class="message-rating-green"></div>
							<div class="message-rating-green"></div>
							<div class="message-rating-white .message-rating-green-5"></div>
						</div>
						<a href="#" class="message-place">Kimpton</a>
						<p class="message-message">Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Et quas harum quod odio, aliquam molestiae blanditiis temporibus laborum quis voluptate quia ipsa quo. Enim totam sit facilis voluptates recusandae doloremque.</p>
					</div>
					<div class="message">
						<img src="img/italy.jpg" alt="">
						<span class="name">Gucci Gang</span>
						<span class="write">написал(а) отзыв</span>
						<p class="date">окт. 2020 г.</p>
						<div class="message-rating">
							<div class="message-rating-green"></div>
							<div class="message-rating-green"></div>
							<div class="message-rating-green"></div>
							<div class="message-rating-green"></div>
							<div class="message-rating-green .message-rating-green-5"></div>
						</div>
						<a href="#" class="message-place">Kimpton</a>
						<p class="message-message">Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Et quas harum quod odio, aliquam molestiae blanditiis temporibus laborum quis voluptate quia ipsa quo. Enim totam sit facilis voluptates recusandae doloremque.</p>
					</div>
					<div class="message">
						<img src="img/italy.jpg" alt="">
						<span class="name">Gucci Gang</span>
						<span class="write">написал(а) отзыв</span>
						<p class="date">окт. 2020 г.</p>
						<div class="message-rating">
							<div class="message-rating-green"></div>
							<div class="message-rating-green"></div>
							<div class="message-rating-green"></div>
							<div class="message-rating-green"></div>
							<div class="message-rating-green .message-rating-green-5"></div>
						</div>
						<a href="#" class="message-place">Kimpton</a>
						<p class="message-message">Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Et quas harum quod odio, aliquam molestiae blanditiis temporibus laborum quis voluptate quia ipsa quo. Enim totam sit facilis voluptates recusandae doloremque.</p>
					</div>
					<div class="message">
						<img src="img/italy.jpg" alt="">
						<span class="name">Gucci Gang</span>
						<span class="write">написал(а) отзыв</span>
						<p class="date">окт. 2020 г.</p>
						<div class="message-rating">
							<div class="message-rating-green"></div>
							<div class="message-rating-green"></div>
							<div class="message-rating-green"></div>
							<div class="message-rating-green"></div>
							<div class="message-rating-green .message-rating-green-5"></div>
						</div>
						<a href="#" class="message-place">Kimpton</a>
						<p class="message-message">Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Et quas harum quod odio, aliquam molestiae blanditiis temporibus laborum quis voluptate quia ipsa quo. Enim totam sit facilis voluptates recusandae doloremque.</p>
					</div>
					<div class="message">
						<img src="img/italy.jpg" alt="">
						<span class="name">Gucci Gang</span>
						<span class="write">написал(а) отзыв</span>
						<p class="date">окт. 2020 г.</p>
						<div class="message-rating">
							<div class="message-rating-green"></div>
							<div class="message-rating-green"></div>
							<div class="message-rating-green"></div>
							<div class="message-rating-green"></div>
							<div class="message-rating-green .message-rating-green-5"></div>
						</div>
						<a href="#" class="message-place">Kimpton</a>
						<p class="message-message">Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Et quas harum quod odio, aliquam molestiae blanditiis temporibus laborum quis voluptate quia ipsa quo. Enim totam sit facilis voluptates recusandae doloremque.</p>
					</div>

				</div>
				
				<div class="clearfix"></div>
			</div>
			
		</div>


	<div class="footer"></div>


	<div id="popup" class="popup">
		<a href="#" class="popup_area"></a>
		<div class="popup_body">
			<div class="popup_content">
				<a href="#" class="popup_close">X</a>
				<div class="popup_title popup_title-accaunt">Выберите фото на обложку</div>
				<div class="popup_text">
					<form action="">
						<input type="file" name="background-accaunt-photo">
						<input type="submit" value="Подтвердить"></p>
					</form>
				</div>

			</div>
		</div>
	</div>

	<script src="script.js"></script>
</body>
</html>