<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style-1.css">
	<title>Tripadvisor: прочтите отзывы, сравните цены и забронируйте</title>
</head>
<body>
	<div class="header">
		<div class="header-login">
			<div class="wrapper wrapper-enter">
				<div class="conteiner">
					<img src="img/TRIP-1.png" alt="" class="logo">
					<!--<a href="#popup" class="nav_1">Войти</a>-->
					<!--<a href="#" class="nav_2">Опубликовать</a>-->
					<!--<a href="#" class="nav_3">Уведомления</a>
					<a href="#" class="nav_4">Поездки</a>-->
				</div>

				<div class="places-place">
								<div class="place-image">
									<img src="img/maxresdefault5.jpg" alt="">
								</div>
								
								<form action="#">
									<h1 style="position: relative; top: 30px; left: 20px; font-size: 40px;">Добро пожаловать!</h1>
									<div class="form-publish">
										<h4>Фимилия и имя-</h4>
										<input type="text" placeholder="Здесь обычно пишут имя" required>
										<h4>Место проживания*</h4>
										<input type="text" placeholder="Северный полюс" required>
										<h4>Веб-сайт</h4>
										<input type="text" placeholder="http://">
										<h4>О себе*</h4>
										<textarea name="text" placeholder="" required style="width: 380px;"></textarea>
											
										<input type="submit" value="Регистрация" class="send-publish" style="position: relative;bottom: 80px !important; left: 410px;">
									</div>
									
								</form>
							</div>
			</div>
		</div>
	</div>


	<div class="content">
		<div class="wrapper">
			
		</div>
	</div>
	<div class="footer"></div>


	<div id="popup" class="popup">
		<a href="#" class="popup_area"></a>
		<div class="popup_body">
			<div class="popup_content">
				<a href="#" class="popup_close">X</a>
				 <form method="post" action="">
				 	<img src="img/Tripadvisor-logo.png" width="90">
				 	<p>Войдите в систему, чтобы открыть все возможности Tripadvisor.</p>
                    <label>Логин:</label><br />
                    <input type="text" name="login" /><br />
                    <label>Пароль:</label><br />
                    <input type="password" name="password" /><br />
                    <input type="submit" value="Войти"  formaction="~/Home/Login" class="enter" />
                    <a href="#popup2" class="registration">Зарегистрироваться</a>
                </form>

			</div>
		</div>
	</div>

	<div id="popup2" class="popup">
		<a href="#" class="popup_area"></a>
		<div class="popup_body">
			<div class="popup_content">
				<a href="#" class="popup_close">X</a>
				 <form method="post" action="">
				 	<img src="img/Tripadvisor-logo.png" width="90">
				 	<p>Зерегестрируйтесь в системе, чтобы открыть все возможности Tripadvisor.</p>
                    <input type="text" name="login" placeholder="Придумайте логин:" /><br />
                    <input type="password" name="password" placeholder="Придумайте пароль:" /><br />
                    <input type="submit" value="Зарегистрироваться"  />
                </form>

			</div>
		</div>
	</div>
</body>
</html>